# Hands-on with Spark - Google Dataproc

![spark](https://cdn-images-1.medium.com/max/300/1*c8CtvqKJDVUnMoPGujF5fA.png)

PySpark is the Python API of Spark; which means it can do almost all the things python can- Machine learning (ML), exploratory data analysis (EDA), ETLs for data platform. And all of them in a distributed manner.

![pyspark](https://editor.analyticsvidhya.com/uploads/20981sp3.JPG)

In simple terms, each time you submit a PySpark job, the code gets internally converted into a MapReduce program and gets executed in the Java Virtual Machine. Spark also uses Lazy Evaluation, it delays its evaluation as much as it can. Each time you submit a job, spark creates an action plan for how to execute the code, and then does nothing. Finally, when you ask for the result (i.e, calls an action), it executes the plan, which is basically all the transofrmations you have mentioned in your code.

For our lesson, we will be running Spark on **local** mode.

In this mode, Spark runs on a single machine, utilizing available cores (similar to Polars).
It's useful for development, learning, testing, and debugging since everything runs on the local machine without needing a cluster.

In actual production environments, Spark is usually run on a cluster of machines (YARN, Mesos or Kubernetes mode).

## Initializing Spark

# For mult-node spark, call Spark session with Yarn

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("DistributedSparkApp") \
    .master("yarn") \
    .config("spark.executor.instances", "3") \
    .config("spark.executor.cores", "2") \
    .config("spark.executor.memory", "2g") \
    .config("spark.sql.adaptive.enabled", "true") \
    .config("spark.sql.adaptive.coalescePartitions.enabled", "true") \
    .getOrCreate()

25/12/08 11:18:51 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Invoking `spark` will print the SparkContext

In [2]:
spark

## Spark SQL and DataFrames

Spark SQL and DataFrames are higher-level modules of Apache Spark, they work together to make data processing with Spark more intuitive and optimized, especially for those who come from an SQL or data analytics background.

- **SQL Interface to Spark**: Spark SQL lets users execute SQL queries alongside Spark programs.

- **DataFrames are abstraction over RDDs**: A DataFrame is a distributed collection of data organized into named columns. Conceptually, it's equivalent to a table in a relational database or a data frame in R or Python, but with optimizations for distributed processing and scalability. While RDD (Resilient Distributed Dataset) is a fundamental data structure in Spark, DataFrames provide a higher-level abstraction that is often easier to use and more optimized for many tasks.

### DataFrame Creation

In [3]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

In [4]:
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

PySpark infers the DataFrame schema (dtypes) by taking a sample from the data (just like Pandas)

In [5]:
df.show(5)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+


You can also pass an explicit schema:

In [6]:
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

PySpark DataFrame is lazily evaluated and invoking `df` does not trigger the computation and show anything. You need to explicitly call the `show` method:

In [7]:
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

### Reading data into spark

There are many data sources available in PySpark such as CSV, Parquet, ORC, JDBC, text, Avro, etc. We can read these files into Spark.

In [8]:
df = spark.read.parquet('gs://su-artifacts/userdata1.parquet')
df.show()

+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03 07:55:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03 17:04:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|                   |              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03 01:09:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03 00:36:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03 05:05:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03 07:22:34|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03 08:33:08|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03 06:47:06|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|                   |Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03 03:52:53|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|                   |         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03 18:29:47| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03 00:10:42| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03 18:04:34| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-03 18:48:17| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-03 21:46:52| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03 08:53:23| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03 00:44:01| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03 00:57:45| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03 16:44:24| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03 11:45:54| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03 10:30:36| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|                   |               China|          |137251.19|                    |                    |
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows

In [9]:
df = spark.read.orc('gs://su-artifacts/userdata1.orc')
df.show()

+-------------------+-----+--------+---------+--------------------+------+---------------+----------------+--------------------+----------+---------+--------------------+------+
|              _col0|_col1|   _col2|    _col3|               _col4| _col5|          _col6|           _col7|               _col8|     _col9|   _col10|              _col11|_col12|
+-------------------+-----+--------+---------+--------------------+------+---------------+----------------+--------------------+----------+---------+--------------------+------+
|2016-02-03 13:36:39|    1|  Donald|    Lewis|dlewis0@clickbank...|  Male|  102.22.124.20|                |           Indonesia|  7/9/1972|140249.37|Senior Financial ...|      |
|2016-02-03 00:22:28|    2|  Walter|  Collins|wcollins1@bloglov...|  Male|   247.28.26.93|3587726269478025|               China|          |     null|                    |      |
|2016-02-03 18:29:04|    3|Michelle|Henderson|mhenderson2@geoci...|Female| 193.68.146.150|                |              France| 1/15/1964|236219.26|             Teacher|      |
|2016-02-03 13:42:19|    4|    Lori|   Hudson| lhudson3@dion.ne.jp|      |  34.252.168.48|3568840151595649|              Russia| 4/22/1988|     null|Nuclear Power Eng...|      |
|2016-02-03 00:15:29|    5|  Howard|   Miller|   hmiller4@fema.gov|  Male|103.193.150.230|3583473261055014|              France|11/26/1998| 50210.02|       Senior Editor|      |
|2016-02-03 10:49:07|    6| Frances|    Adams|fadams5@123-reg.c...|Female| 106.196.106.93|                |              Russia| 3/27/1997| 82175.77| Account Coordinator|      |
|2016-02-03 19:44:12| null|  Steven|   Hanson|  shanson6@cisco.com|  Male|234.130.172.185|3550842607768119|           Indonesia|          |129582.61|                    |      |
|2016-02-03 08:11:34|    8|   Louis|  Simmons|   lsimmons7@icio.us|  Male|    18.69.80.15|                |               China|  6/1/1992| 90744.86|    Product Engineer|      |
|2016-02-03 23:56:51|    9|   Keith|   Parker|kparker8@amazonaw...|  Male|  108.205.40.64|                |          Guadeloupe|12/30/1992|  60618.9|        Developer II|      |
|2016-02-03 07:47:29|   10|   Wanda|   Walker|wwalker9@latimes.com|Female|  246.214.98.78|3539421569669478|            Portugal|          |137664.53|                    |      |
|2016-02-03 16:39:23|   11| Kathryn|   Weaver|kweavera@bizjourn...|Female| 157.237.161.75| 201425019338900|              Sweden|          |117572.65|                    |      |
|2016-02-03 06:50:56|   12|  Philip|     Ward| pwardb@sakura.ne.jp|  Male|  77.140.225.69| 201508031789224|              Greece|  9/3/1984|238925.79|Human Resources M...|      |
|2016-02-03 23:36:58|   13|  Evelyn|   Harvey|   eharveyc@time.com|      |  254.174.154.7|3539535868968594|               China| 5/15/1979|     null|Software Engineer...|      |
|2016-02-03 07:33:24|   14|  Andrea|     Lane|       alaned@gov.uk|Female|192.253.116.192|5100174455306952|           Indonesia| 1/19/1989|166778.42|            Operator|      |
|2016-02-03 13:45:04|   15|   Bobby|  Vasquez|  bvasqueze@furl.net|  Male|  126.60.18.195|3581051861650673|         Philippines| 1/25/1975|138184.83|       Senior Editor|      |
|2016-02-03 21:58:10|   16| Kenneth|   Gibson|kgibsonf@soundclo...|  Male| 91.153.142.170|5389947292571488|                Peru| 11/3/1975| 98614.53|  Environmental Tech|      |
|2016-02-03 16:22:34|   17|   Emily|     Hill|    ehillg@house.gov|Female|109.107.174.205|                |Palestinian Terri...| 5/18/1956|218781.48| Executive Secretary|      |
|2016-02-03 23:20:49|   18|   Kelly|   Fowler|   kfowlerh@dell.com|Female|  147.58.88.116|3551741291105936|              Greece| 6/11/1975|117249.56|Systems Administr...|      |
|2016-02-03 18:28:46|   19|   Diana|   Howell| dhowelli@sphinn.com|Female|   21.240.75.42|4026635872860296|                Iran|  7/7/1993|174844.52|             Teacher|      |
|2016-02-03 02:23:26|   20|  Johnny|  Collins| jcollinsj@google.ca|  Male| 38.173.129.250| 372301677387203|         Afghanistan| 7/28/1987|155908.69|       Social Worker|      |
+-------------------+-----+--------+---------+--------------------+------+---------------+----------------+--------------------+----------+---------+--------------------+------+
only showing top 20 rows

In [10]:
movies = spark.read.csv('gs://su-artifacts/movies_metadata.csv', header=True)
ratings = spark.read.csv('gs://su-artifacts/ratings.csv', header=True)
taxi = spark.read.csv('gs://su-artifacts/taxi_trip_data.csv', header=True)

In [11]:
movies.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)

In [12]:
ratings.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [13]:
taxi.printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- imp_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- pickup_location_id: string (nullable = true)
 |-- dropoff_location_id: string (nullable = true)

In [14]:
movies = spark.read.csv('gs://su-artifacts/movies_metadata.csv', header=True, inferSchema=True, quote="\"", escape="\"")

In [15]:
movies.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)

In [16]:
ratings = spark.read.csv('gs://su-artifacts/ratings.csv', header=True, inferSchema=True)

In [17]:
ratings.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

Passing a schema will speed up the read.

In [18]:
dtypes = ['vendor_id integer',
 'pickup_datetime timestamp',
 'dropoff_datetime timestamp',
 'passenger_count integer',
 'trip_distance double',
 'rate_code integer',
 'store_and_fwd_flag string',
 'payment_type integer',
 'fare_amount double',
 'extra double',
 'mta_tax double',
 'tip_amount double',
 'tolls_amount double',
 'imp_surcharge double',
 'total_amount double',
 'pickup_location_id integer',
 'dropoff_location_id integer']

In [19]:
taxi = spark.read.csv('gs://su-artifacts/taxi_trip_data.csv', header=True,
                      schema=', '.join(dtypes))

In [20]:
taxi.printSchema()

root
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- imp_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)

There are a couple of ways to view your dataframe in PySpark:

1.   `df.take(5)` will return a list of five Row objects.
2.   `df.collect()` will get all of the data from the entire DataFrame. Be really careful when using it, because if you have a large data set, you can easily crash the driver node.
3.   `df.show()` is the most commonly used method to view a dataframe. There are a few parameters we can pass to this method, like the number of rows and truncaiton. For example, `df.show(5, False)` or ` df.show(5, truncate=False)` will show the entire data wihtout any truncation.
4.   `df.limit(5)` will **return a new DataFrame** by taking the first n rows. As spark is distributed in nature, there is no guarantee that `df.limit()` will give you the same results each time.

In [21]:
movies.show(10)

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  1995-10-30|373554033|   81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|False|         7.7|      5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  1995-12-15|262797249|  104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|False|         6.9|      2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|  1995-12-22|        0|  101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|False|         6.5|        92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|Cheated on, mistr...|  3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  1995-12-22| 81452156|  127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|   Waiting to Exhale|False|         6.1|        34|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  1995-02-10| 76578911|  106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|False|         5.7|       173|
|False|                 null|60000000|[{'id': 28, 'name...|                null|  949|tt0113277|               en|                Heat|Obsessive master ...| 17.924927|/zMyfPUelumio3tiD...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  1995-12-15|187436818|  170.0|[{'iso_639_1': 'e...|Released|A Los Angeles Cri...|                Heat|False|         7.7|      1886|
|False|                 null|58000000|[{'id': 35, 'name...|                null|11860|tt0114319|               en|             Sabrina|An ugly duckling ...|  6.677277|/jQh15y5YB7bWz1Nt...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  1995-12-15|        0|  127.0|[{'iso_639_1': 'f...|Released|You are cordially...|             Sabrina|False|         6.2|       141|
|False|                 null|       0|[{'id': 28, 'name...|                null|45325|tt0112302|               en|        Tom and Huck|A mischievous you...|  2.561161|/sGO5Qa55p7wTu7FJ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  1995-12-22|        0|   97.0|[{'iso_639_1': 'e...|Released|The Original Bad ...|        Tom and Huck|False|         5.4|        45|
|False|                 null|35000000|[{'id': 28, 'name...|                null| 9091|tt0114576|               en|        Sudden Death|International act...|   5.23158|/eoWvKD60lT95Ss1M...|[{'name': 'Univer...|[{'iso_3166_1': '...|  1995-12-22| 64350171|  106.0|[{'iso_639_1': 'e...|Released|Terror goes into ...|        Sudden Death|False|         5.5|       174|
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|  1995-11-16|352194034|  130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|False|         6.6|      1194|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
only showing top 10 rows

In [22]:
movies.show(5, truncate=False)

+-----+---------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+-------------------------------------------------------------------------------------------------+------------------------------------+-----+---------+-----------------+---------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------+------------+---------+-------+---------------------------------------------------------------------------------+--------+------------------------------------------------------------------------------+---------------------------+-----+------------+----------+
|adult|belongs_to_collection                                                                                                                                          |budget  |genres                                                                                           |homepage                            |id   |imdb_id  |original_language|original_title             |overview                                                                                                                                                                                                                                                                                                                                                                                                   |popularity|poster_path                     |production_companies                                                                                                               |production_countries                                      |release_date|revenue  |runtime|spoken_languages                                                                 |status  |tagline                                                                       |title                      |video|vote_average|vote_count|
+-----+---------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+-------------------------------------------------------------------------------------------------+------------------------------------+-----+---------+-----------------+---------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------+------------+---------+-------+---------------------------------------------------------------------------------+--------+------------------------------------------------------------------------------+---------------------------+-----+------------+----------+
|False|{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}          |30000000|[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}] |http://toystory.disney.com/toy-story|862  |tt0114709|en               |Toy Story                  |Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.                                                                                            |21.946943 |/rhIRbceoE9lR4veEXuwCC2wARtG.jpg|[{'name': 'Pixar Animation Studios', 'id': 3}]                                                                                     |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|1995-10-30  |373554033|81.0   |[{'iso_639_1': 'en', 'name': 'English'}]                                         |Released|null                                                                          |Toy Story                  |False|7.7         |5415      |
|False|null                                                                                                                                                           |65000000|[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]|null                                |8844 |tt0113497|en               |Jumanji                    |When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.|17.015539 |/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg|[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]|[{'iso_3166_1': 'US', 'name': 'United States of America'}]|1995-12-15  |262797249|104.0  |[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]|Released|Roll the dice and unleash the excitement!                                     |Jumanji                    |False|6.9         |2413      |
|False|{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}    |0       |[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]                                 |null                                |15602|tt0113228|en               |Grumpier Old Men           |A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.                                                                    |11.7129   |/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg|[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]                                                    |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|1995-12-22  |0        |101.0  |[{'iso_639_1': 'en', 'name': 'English'}]                                         |Released|Still Yelling. Still Fighting. Still Ready for Love.                          |Grumpier Old Men           |False|6.5         |92        |
|False|null                                                                                                                                                           |16000000|[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]    |null                                |31357|tt0114885|en               |Waiting to Exhale          |Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive "good man" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.                                                                                                                             |3.859495  |/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg|[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                                    |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|1995-12-22  |81452156 |127.0  |[{'iso_639_1': 'en', 'name': 'English'}]                                         |Released|Friends are the people who let you be yourself... and never let you forget it.|Waiting to Exhale          |False|6.1         |34        |
|False|{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}|0       |[{'id': 35, 'name': 'Comedy'}]                                                                   |null                                |11862|tt0113041|en               |Father of the Bride Part II|Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.                                                                             |8.387519  |/e64sOI48hQXyru7naBFyssKFxVd.jpg|[{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]                                       |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|1995-02-10  |76578911 |106.0  |[{'iso_639_1': 'en', 'name': 'English'}]                                         |Released|Just When His World Is Back To Normal... He's In For The Surprise Of His Life!|Father of the Bride Part II|False|5.7         |173       |
+-----+---------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+-------------------------------------------------------------------------------------------------+------------------------------------+-----+---------+-----------------+---------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------+------------+---------+-------+---------------------------------------------------------------------------------+--------+------------------------------------------------------------------------------+---------------------------+-----+------------+----------+
only showing top 5 rows

In [23]:
# can also be shown vertically
movies.show(1, vertical=True, truncate=False)

-RECORD 0--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 adult                 | False
 belongs_to_collection | {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
 budget                | 30000000
 genres                | [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
 homepage              | http://toystory.disney.com/toy-story
 id                    | 862
 imdb_id               | tt0114709
 original_language     | en
 original_title        | Toy Story
 overview              | Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
 popularity            | 21.946943
 poster_path           | /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
 production_companies  | [{'name': 'Pixar Animation Studios', 'id': 3}]
 production_countries  | [{'iso_3166_1': 'US', 'name': 'United States of America'}]
 release_date          | 1995-10-30
 revenue               | 373554033
 runtime               | 81.0
 spoken_languages      | [{'iso_639_1': 'en', 'name': 'English'}]
 status                | Released
 tagline               | null
 title                 | Toy Story
 video                 | False
 vote_average          | 7.7
 vote_count            | 5415
only showing top 1 row

In [24]:
ratings.show(10)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    110|   1.0|1425941529|
|     1|    147|   4.5|1425942435|
|     1|    858|   5.0|1425941523|
|     1|   1221|   5.0|1425941546|
|     1|   1246|   5.0|1425941556|
|     1|   1968|   4.0|1425942148|
|     1|   2762|   4.5|1425941300|
|     1|   2918|   5.0|1425941593|
|     1|   2959|   4.0|1425941601|
|     1|   4226|   4.0|1425942228|
+------+-------+------+----------+
only showing top 10 rows

In [25]:
taxi.show(10)

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
|        2|2018-03-29 13:37:13|2018-03-29 14:17:01|              1|        18.15|        3|                 N|           1|       70.0|  0.0|    0.0|     16.16|        10.5|          0.3|       96.96|               161|                  1|
|        2|2018-03-29 13:37:18|2018-03-29 14:15:33|              1|         4.59|        1|                 N|           1|       25.0|  0.0|    0.5|      5.16|         0.0|          0.3|       30.96|                13|                230|
|        2|2018-03-29 13:26:57|2018-03-29 13:28:03|              1|          0.3|        1|                 N|           1|        3.0|  0.0|    0.5|      0.76|         0.0|          0.3|        4.56|               231|                231|
|        2|2018-03-29 13:07:48|2018-03-29 14:03:05|              2|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138|
|        2|2018-03-29 14:19:11|2018-03-29 15:19:59|              5|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|
|        2|2018-03-29 14:52:55|2018-03-29 15:51:55|              1|         11.6|        1|                 N|           1|       42.0|  0.0|    0.5|     14.57|        5.76|          0.3|       63.13|                68|                138|
|        1|2018-03-29 14:09:41|2018-03-29 14:36:29|              1|          5.8|        1|                 N|           1|       24.0|  0.0|    0.5|      4.95|         0.0|          0.3|       29.75|               100|                 87|
|        2|2018-03-29 15:21:42|2018-03-29 16:04:16|              1|         3.38|        1|                 N|           1|       25.0|  0.0|    0.5|      5.16|         0.0|          0.3|       30.96|               144|                161|
|        2|2018-03-29 15:14:59|2018-03-29 16:42:46|              1|        16.98|        3|                 N|           1|       85.0|  0.0|    0.0|      15.0|        12.5|          0.3|       112.8|                87|                  1|
|        2|2018-03-29 16:27:58|2018-03-29 16:58:08|              1|         4.99|        1|                 N|           1|       22.0|  1.0|    0.5|      4.76|         0.0|          0.3|       28.56|                13|                161|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
only showing top 10 rows

In [26]:
taxi.limit(5).show()

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
|        2|2018-03-29 13:37:13|2018-03-29 14:17:01|              1|        18.15|        3|                 N|           1|       70.0|  0.0|    0.0|     16.16|        10.5|          0.3|       96.96|               161|                  1|
|        2|2018-03-29 13:37:18|2018-03-29 14:15:33|              1|         4.59|        1|                 N|           1|       25.0|  0.0|    0.5|      5.16|         0.0|          0.3|       30.96|                13|                230|
|        2|2018-03-29 13:26:57|2018-03-29 13:28:03|              1|          0.3|        1|                 N|           1|        3.0|  0.0|    0.5|      0.76|         0.0|          0.3|        4.56|               231|                231|
|        2|2018-03-29 13:07:48|2018-03-29 14:03:05|              2|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138|
|        2|2018-03-29 14:19:11|2018-03-29 15:19:59|              5|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+

In [27]:
movies.describe().show()

+-------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----------------------------------+--------------------+--------------------+--------------------+------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+--------------------+-----+--------------------+------------------+
|summary|              adult|belongs_to_collection|              budget|              genres|            homepage|                  id|             imdb_id|original_language|                     original_title|            overview|          popularity|         poster_path|    production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|            status|           tagline|               title|video|        vote_average|        vote_count|
+-------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----------------------------------+--------------------+--------------------+--------------------+------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+--------------------+-----+--------------------+------------------+
|  count|              45572|                 4591|               45555|               45549|                7857|               45541|               45524|            45530|                              45540|               44586|               45449|               45072|                   45452|               45456|               45376|               45439|               45169|               45410|             45318|             20394|               45393|45391|               45392|             45391|
|   mean|               null|   1.5354219545454546|   4223278.286075615|  1.3762527647058824|           2.1596433|  108350.38580904549|    3192598.23066984| 48.8654822972973|                           Infinity|  61.845339464285715|  2.9394940655051687|   5846484.571428572|      55.721906499999996|          7.65260812|   27.65135135135135|1.1216808938356193E7|   94.08559470292535|              22.475|18.981818181818184|318.92857142857144|            Infinity|  3.7|   5.618969771745872|110.03040518210061|
| stddev|               null|   2.8947605310025293|1.7421608015910927E7|  1.4278676612523273|   3.782712121377583|  112460.39461456232|1.5959850652741546E7|50.53933896712909|                                NaN|   52.90864238731892|   6.129823563954738|1.5468163427045606E7|      60.530089393811274|  17.375723735930922|  107.67170427229664|   6.4359483027578E7|   38.45926258560643|  44.082082527938724|36.026290904888285| 717.1061304862428|                 NaN| null|    1.92307231543157|  491.683450391515|
|    min| (Post-apocalypse)"|  ""NO DOWN PAYMEN...| ""The Adventure ...|  ""His Last Bow""."|       70s hairstyle|              1978."|             252 252|   Rachel Roberts|                        Janice Rule|                    | Butch Cassidy an...| Ralph applies hi...|     fending off nays...|/tlIBZHCQn4dOkrh8...|/u6YDFe0ix9hMtQeD...|                   0|                   0|                   0|                 0|                  |!Women Art Revolu...|  3.7|                 0.0|                 0|
|    max|               True| {'id': 99727, 'na...|              998000|[{'name': 'WhiteF...|https://zeitgeist...|[{'name': 'Warner...|           tt7158814|               zu|ＳＭガールズ セイバーマリオネットＲ|…ere erera baleib...|[{'iso_639_1': 'x...|[{'iso_639_1': 'z...|[{'name': '프로덕션M'...|[{'iso_639_1': 'z...|Приключения Шерло...|[{'name': 'Allian...|[{'iso_639_1': 'j...|[{'iso_639_1': 'z...|           Rumored|  李麗珍蜜桃成熟時|    ファンタスティポ| True|Something's Gonna...|       Saint Ralph|
+-------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----------------------------------+--------------------+--------------------+--------------------+------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+--------------------+-----+--------------------+------------------+

In [28]:
ratings.describe().show()

+-------+-----------------+------------------+------------------+--------------------+
|summary|           userId|           movieId|            rating|           timestamp|
+-------+-----------------+------------------+------------------+--------------------+
|  count|         26024289|          26024289|          26024289|            26024289|
|   mean| 135037.090248114|15849.109677040553|3.5280903543608817|1.1712584326913223E9|
| stddev|78176.19722170963| 31085.25753139151|1.0654427636662405|2.0528887028185263E8|
|    min|                1|                 1|               0.5|           789652004|
|    max|           270896|            176275|               5.0|          1501829870|
+-------+-----------------+------------------+------------------+--------------------+

In [51]:
taxi.describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-----------------+------------------+--------------------+------------------+------------------+-------------------+------------------+
|summary|         vendor_id|   passenger_count|    trip_distance|         rate_code|store_and_fwd_flag|       payment_type|       fare_amount|             extra|            mta_tax|       tip_amount|      tolls_amount|       imp_surcharge|      total_amount|pickup_location_id|dropoff_location_id|     trip_duration|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-----------------+------------------+--------------------+------------------+------------------+-------------------+------------------+
|  count|          10000000|          10000000|         10000000|          10000000|          10000000|           10000000|          10000000|          10000000|           10000000|         10000000|          10000000|            10000000|          10000000|          10000000|           10000000|          10000000|
|   mean|         1.6143277|         1.6029494|8.849280209999232|         1.2012385|              null|          1.1892995|31.652551951001048|0.3383780649999998|        0.481928941|5.598526988996462|2.1379179970025284| 0.29788313799502303| 40.51607352907408|       153.5631699|        148.1428256| 35.78377407500251|
| stddev|0.5146575594508966|1.2457816727809192|5.882028461543528|1.2507334338503797|              null|0.43398757831794216| 160.6011394156488|0.5512911467900146|0.12072823130547818|4.840596207475449|3.7503092962868134|0.034060274386492784|161.16336870776652| 60.76455590224348|   75.7485278525727| 83.85871529583935|
|    min|                 1|                 0|              0.0|                 1|                 N|                  1|            -800.0|             -80.0|               -0.5|          -322.42|             -52.5|                -0.3|            -800.3|                 1|                  1|-70445.13333333333|
|    max|                 4|                 9|          7655.76|                99|                 Y|                  5|         398460.05|              84.0|              150.0|            496.0|            918.25|                 1.0|         398521.96|               265|                265| 9730.083333333334|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-----------------+------------------+--------------------+------------------+------------------+-------------------+------------------+

### DataFrame Operations on Columns

We will go over the following in this section:

1.   Selecting a Column
2.   Selecting Multiple Columns
3.   Adding New Columns
4.   Renaming Columns
5.   Removing Columns

In [30]:
movies.id

Column<'id'>

Just like DataFrame, selecting a column is lazily evaluated and does not trigger the computation but returns a `Column` instance.

It can be used to select columns and returns another DataFrame:

In [31]:
movies.select(movies.id).show()

+-----+
|   id|
+-----+
|  862|
| 8844|
|15602|
|31357|
|11862|
|  949|
|11860|
|45325|
| 9091|
|  710|
| 9087|
|12110|
|21032|
|10858|
| 1408|
|  524|
| 4584|
|    5|
| 9273|
|11517|
+-----+
only showing top 20 rows

In [32]:
movies.select(movies.title, movies.overview).show(truncate=False)

+------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|title                         |overview                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Toy Story                     |Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.                                                                                                                                                 |
|Jumanji                       |When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.                                                     |
|Grumpier Old Men              |A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.                                                                                                                         |
|Waiting to Exhale             |Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive "good man" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.                                                                                                                                                                                  |
|Father of the Bride Part II   |Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.                                                                                                                                  |
|Heat                          |Obsessive master thief, Neil McCauley leads a top-notch crew on various insane heists throughout Los Angeles while a mentally unstable detective, Vincent Hanna pursues him without rest. Each man recognizes and respects the ability and the dedication of the other even though they are aware their cat-and-mouse game may end in violence.                                                                                                                 |
|Sabrina                       |An ugly duckling having undergone a remarkable change, still harbors feelings for her crush: a carefree playboy, but not before his business-focused brother has something to say about it.                                                                                                                                                                                                                                                                     |
|Tom and Huck                  |A mischievous young boy, Tom Sawyer, witnesses a murder by the deadly Injun Joe. Tom becomes friends with Huckleberry Finn, a boy with no future and no family. Tom has to choose between honoring a friendship or honoring an oath because the town alcoholic is accused of the murder. Tom and Huck go through several adventures trying to retrieve evidence.                                                                                                |
|Sudden Death                  |International action superstar Jean Claude Van Damme teams with Powers Boothe in a Tension-packed, suspense thriller, set against the back-drop of a Stanley Cup game.Van Damme portrays a father whose daughter is suddenly taken during a championship hockey game. With the captors demanding a billion dollars by game's end, Van Damme frantically sets a plan in motion to rescue his daughter and abort an impending explosion before the final buzzer...|
|GoldenEye                     |James Bond must unmask the mysterious head of the Janus Syndicate and prevent the leader from utilizing the GoldenEye weapons system to inflict devastating revenge on Britain.                                                                                                                                                                                                                                                                                 |
|The American President        |Widowed U.S. president Andrew Shepherd, one of the world's most powerful men, can have anything he wants -- and what he covets most is Sydney Ellen Wade, a Washington lobbyist. But Shepherd's attempts at courting her spark wild rumors and decimate his approval ratings.                                                                                                                                                                                   |
|Dracula: Dead and Loving It   |When a lawyer shows up at the vampire's doorstep, he falls prey to his charms and joins him in his search for fresh blood. Enter Dr. van Helsing, who may be the only one able to vanquish the count.                                                                                                                                                                                                                                                           |
|Balto                         |An outcast half-wolf risks his life to prevent a deadly epidemic from ravaging Nome, Alaska.                                                                                                                                                                                                                                                                                                                                                                    |
|Nixon                         |An all-star cast powers this epic look at American President Richard M. Nixon, a man carrying the fate of the world on his shoulders while battling the self-destructive demands within. Spanning his troubled boyhood in California to the shocking Watergate scandal that would end his presidency.                                                                                                                                                           |
|Cutthroat Island              |Morgan Adams and her slave, William Shaw, are on a quest to recover the three portions of a treasure map. Unfortunately, the final portion is held by her murderous uncle, Dawg. Her crew is skeptical of her leadership abilities, so she must complete her quest before they mutiny against her. This is made yet more difficult by the efforts of the British crown to end her pirate raids.                                                                 |
|Casino                        |The life of the gambling paradise – Las Vegas – and its dark mafia underbelly.                                                                                                                                                                                                                                                                                                                                                                                  |
|Sense and Sensibility         |Rich Mr. Dashwood dies, leaving his second wife and her daughters poor by the rules of inheritance. Two daughters are the titular opposites.                                                                                                                                                                                                                                                                                                                    |
|Four Rooms                    |It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.                                                                                                                                                                                                                   |
|Ace Ventura: When Nature Calls|Summoned from an ashram in Tibet, Ace finds himself on a perilous journey into the jungles of Africa to find Shikaka, the missing sacred animal of the friendly Wachati tribe. He must accomplish this before the wedding of the Wachati's Princess to the prince of the warrior Wachootoos. If Ace fails, the result will be a vicious tribal war.                                                                                                             |
|Money Train                   |A vengeful New York transit cop decides to steal a trainload of subway fares; his foster brother, a fellow cop, tries to protect him.                                                                                                                                                                                                                                                                                                                           |
+------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

Creating a new column:

In [33]:
from pyspark.sql.functions import lit

In [34]:
# lit means literal. It populates the row with the literal value given
ratings.withColumn('review', lit('Great movie!')).show(10)

+------+-------+------+----------+------------+
|userId|movieId|rating| timestamp|      review|
+------+-------+------+----------+------------+
|     1|    110|   1.0|1425941529|Great movie!|
|     1|    147|   4.5|1425942435|Great movie!|
|     1|    858|   5.0|1425941523|Great movie!|
|     1|   1221|   5.0|1425941546|Great movie!|
|     1|   1246|   5.0|1425941556|Great movie!|
|     1|   1968|   4.0|1425942148|Great movie!|
|     1|   2762|   4.5|1425941300|Great movie!|
|     1|   2918|   5.0|1425941593|Great movie!|
|     1|   2959|   4.0|1425941601|Great movie!|
|     1|   4226|   4.0|1425942228|Great movie!|
+------+-------+------+----------+------------+
only showing top 10 rows

In [35]:
ratings.withColumn('review', lit('Great movie!')) \
       .withColumn('mood', lit(5)) \
       .show(10)

+------+-------+------+----------+------------+----+
|userId|movieId|rating| timestamp|      review|mood|
+------+-------+------+----------+------------+----+
|     1|    110|   1.0|1425941529|Great movie!|   5|
|     1|    147|   4.5|1425942435|Great movie!|   5|
|     1|    858|   5.0|1425941523|Great movie!|   5|
|     1|   1221|   5.0|1425941546|Great movie!|   5|
|     1|   1246|   5.0|1425941556|Great movie!|   5|
|     1|   1968|   4.0|1425942148|Great movie!|   5|
|     1|   2762|   4.5|1425941300|Great movie!|   5|
|     1|   2918|   5.0|1425941593|Great movie!|   5|
|     1|   2959|   4.0|1425941601|Great movie!|   5|
|     1|   4226|   4.0|1425942228|Great movie!|   5|
+------+-------+------+----------+------------+----+
only showing top 10 rows

In [36]:
movies.withColumnRenamed('overview', 'summary').show(5)

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|             summary|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  1995-10-30|373554033|   81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|False|         7.7|      5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  1995-12-15|262797249|  104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|False|         6.9|      2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|  1995-12-22|        0|  101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|False|         6.5|        92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|Cheated on, mistr...|  3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  1995-12-22| 81452156|  127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|   Waiting to Exhale|False|         6.1|        34|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  1995-02-10| 76578911|  106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|False|         5.7|       173|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
only showing top 5 rows

In [37]:
ratings.drop('timestamp').show()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    110|   1.0|
|     1|    147|   4.5|
|     1|    858|   5.0|
|     1|   1221|   5.0|
|     1|   1246|   5.0|
|     1|   1968|   4.0|
|     1|   2762|   4.5|
|     1|   2918|   5.0|
|     1|   2959|   4.0|
|     1|   4226|   4.0|
|     1|   4878|   5.0|
|     1|   5577|   5.0|
|     1|  33794|   4.0|
|     1|  54503|   3.5|
|     1|  58559|   4.0|
|     1|  59315|   5.0|
|     1|  68358|   5.0|
|     1|  69844|   5.0|
|     1|  73017|   5.0|
|     1|  81834|   5.0|
+------+-------+------+
only showing top 20 rows

### Common Transformation Functions

In [38]:
# Functions available in PySpark
from pyspark.sql import functions
# We can use the dir function to view the available functions
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'List', 'Optional', 'PandasUDFType', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Union', 'UserDefinedFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_udf', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'array_distinct', 'array_except', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_length', 'bitwiseNOT', 'bitwise_not', 'broadcast', 'bround', 'bucket', 'cast', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'map_concat', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'max_by', 'md5', 'mean', 'min', 'min_by', 'minute', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'nth_value', 'ntile', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'percent_rank', 'percentile_approx', 'posexplode', 'posexplode_outer', 'pow', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'xxhash64', 'year', 'years', 'zip_with']

String functions:

In [39]:
from pyspark.sql.functions import concat, lower, upper, substring

In [40]:
movies.show(5)

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  1995-10-30|373554033|   81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|False|         7.7|      5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  1995-12-15|262797249|  104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|False|         6.9|      2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|  1995-12-22|        0|  101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|False|         6.5|        92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|Cheated on, mistr...|  3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  1995-12-22| 81452156|  127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|   Waiting to Exhale|False|         6.1|        34|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  1995-02-10| 76578911|  106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|False|         5.7|       173|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
only showing top 5 rows

In [41]:
movies.select(movies.title, movies.tagline, upper(movies.title), lower(movies.tagline),
              substring(movies.overview, 1, 10),
              concat(movies.title, lit(' Part 1')).alias('new_title')
              ).show()

+--------------------+--------------------+--------------------+--------------------+--------------------------+--------------------+
|               title|             tagline|        upper(title)|      lower(tagline)|substring(overview, 1, 10)|           new_title|
+--------------------+--------------------+--------------------+--------------------+--------------------------+--------------------+
|           Toy Story|                null|           TOY STORY|                null|                Led by Woo|    Toy Story Part 1|
|             Jumanji|Roll the dice and...|             JUMANJI|roll the dice and...|                When sibli|      Jumanji Part 1|
|    Grumpier Old Men|Still Yelling. St...|    GRUMPIER OLD MEN|still yelling. st...|                A family w|Grumpier Old Men ...|
|   Waiting to Exhale|Friends are the p...|   WAITING TO EXHALE|friends are the p...|                Cheated on|Waiting to Exhale...|
|Father of the Bri...|Just When His Wor...|FATHER OF THE BRI...|just when his wor...|                Just when |Father of the Bri...|
|                Heat|A Los Angeles Cri...|                HEAT|a los angeles cri...|                Obsessive |         Heat Part 1|
|             Sabrina|You are cordially...|             SABRINA|you are cordially...|                An ugly du|      Sabrina Part 1|
|        Tom and Huck|The Original Bad ...|        TOM AND HUCK|the original bad ...|                A mischiev| Tom and Huck Part 1|
|        Sudden Death|Terror goes into ...|        SUDDEN DEATH|terror goes into ...|                Internatio| Sudden Death Part 1|
|           GoldenEye|No limits. No fea...|           GOLDENEYE|no limits. no fea...|                James Bond|    GoldenEye Part 1|
|The American Pres...|Why can't the mos...|THE AMERICAN PRES...|why can't the mos...|                Widowed U.|The American Pres...|
|Dracula: Dead and...|                null|DRACULA: DEAD AND...|                null|                When a law|Dracula: Dead and...|
|               Balto|Part Dog. Part Wo...|               BALTO|part dog. part wo...|                An outcast|        Balto Part 1|
|               Nixon|Triumphant in Vic...|               NIXON|triumphant in vic...|                An all-sta|        Nixon Part 1|
|    Cutthroat Island|The Course Has Be...|    CUTTHROAT ISLAND|the course has be...|                Morgan Ada|Cutthroat Island ...|
|              Casino|No one stays at t...|              CASINO|no one stays at t...|                The life o|       Casino Part 1|
|Sense and Sensibi...|Lose your heart a...|SENSE AND SENSIBI...|lose your heart a...|                Rich Mr. D|Sense and Sensibi...|
|          Four Rooms|Twelve outrageous...|          FOUR ROOMS|twelve outrageous...|                It's Ted t|   Four Rooms Part 1|
|Ace Ventura: When...|New animals. New ...|ACE VENTURA: WHEN...|new animals. new ...|                Summoned f|Ace Ventura: When...|
|         Money Train|Get on, or GET OU...|         MONEY TRAIN|get on, or get ou...|                A vengeful|  Money Train Part 1|
+--------------------+--------------------+--------------------+--------------------+--------------------------+--------------------+
only showing top 20 rows

Numeric functions:

In [42]:
from pyspark.sql.functions import mean, max, round

In [43]:
ratings.select(mean(ratings.rating), max(ratings.rating)).show()

+------------------+-----------+
|       avg(rating)|max(rating)|
+------------------+-----------+
|3.5280903543608817|        5.0|
+------------------+-----------+

In [44]:
ratings.withColumn('new_rating', round(ratings.rating)).show()

+------+-------+------+----------+----------+
|userId|movieId|rating| timestamp|new_rating|
+------+-------+------+----------+----------+
|     1|    110|   1.0|1425941529|       1.0|
|     1|    147|   4.5|1425942435|       5.0|
|     1|    858|   5.0|1425941523|       5.0|
|     1|   1221|   5.0|1425941546|       5.0|
|     1|   1246|   5.0|1425941556|       5.0|
|     1|   1968|   4.0|1425942148|       4.0|
|     1|   2762|   4.5|1425941300|       5.0|
|     1|   2918|   5.0|1425941593|       5.0|
|     1|   2959|   4.0|1425941601|       4.0|
|     1|   4226|   4.0|1425942228|       4.0|
|     1|   4878|   5.0|1425941434|       5.0|
|     1|   5577|   5.0|1425941397|       5.0|
|     1|  33794|   4.0|1425942005|       4.0|
|     1|  54503|   3.5|1425941313|       4.0|
|     1|  58559|   4.0|1425942007|       4.0|
|     1|  59315|   5.0|1425941502|       5.0|
|     1|  68358|   5.0|1425941464|       5.0|
|     1|  69844|   5.0|1425942139|       5.0|
|     1|  73017|   5.0|1425942699|       5.0|
|     1|  81834|   5.0|1425942133|       5.0|
+------+-------+------+----------+----------+
only showing top 20 rows

Date/time functions:

In [45]:
from pyspark.sql.functions import to_date, to_timestamp, datediff

In [46]:
ratings.withColumn('new_timestamp', to_timestamp(ratings.timestamp)).show()

+------+-------+------+----------+-------------------+
|userId|movieId|rating| timestamp|      new_timestamp|
+------+-------+------+----------+-------------------+
|     1|    110|   1.0|1425941529|2015-03-09 22:52:09|
|     1|    147|   4.5|1425942435|2015-03-09 23:07:15|
|     1|    858|   5.0|1425941523|2015-03-09 22:52:03|
|     1|   1221|   5.0|1425941546|2015-03-09 22:52:26|
|     1|   1246|   5.0|1425941556|2015-03-09 22:52:36|
|     1|   1968|   4.0|1425942148|2015-03-09 23:02:28|
|     1|   2762|   4.5|1425941300|2015-03-09 22:48:20|
|     1|   2918|   5.0|1425941593|2015-03-09 22:53:13|
|     1|   2959|   4.0|1425941601|2015-03-09 22:53:21|
|     1|   4226|   4.0|1425942228|2015-03-09 23:03:48|
|     1|   4878|   5.0|1425941434|2015-03-09 22:50:34|
|     1|   5577|   5.0|1425941397|2015-03-09 22:49:57|
|     1|  33794|   4.0|1425942005|2015-03-09 23:00:05|
|     1|  54503|   3.5|1425941313|2015-03-09 22:48:33|
|     1|  58559|   4.0|1425942007|2015-03-09 23:00:07|
|     1|  59315|   5.0|1425941502|2015-03-09 22:51:42|
|     1|  68358|   5.0|1425941464|2015-03-09 22:51:04|
|     1|  69844|   5.0|1425942139|2015-03-09 23:02:19|
|     1|  73017|   5.0|1425942699|2015-03-09 23:11:39|
|     1|  81834|   5.0|1425942133|2015-03-09 23:02:13|
+------+-------+------+----------+-------------------+
only showing top 20 rows

Replace the unix timestamp with new timestamp:

In [47]:
ratings = ratings.withColumn('timestamp', to_timestamp(ratings.timestamp))

In [48]:
ratings.show()

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|    110|   1.0|2015-03-09 22:52:09|
|     1|    147|   4.5|2015-03-09 23:07:15|
|     1|    858|   5.0|2015-03-09 22:52:03|
|     1|   1221|   5.0|2015-03-09 22:52:26|
|     1|   1246|   5.0|2015-03-09 22:52:36|
|     1|   1968|   4.0|2015-03-09 23:02:28|
|     1|   2762|   4.5|2015-03-09 22:48:20|
|     1|   2918|   5.0|2015-03-09 22:53:13|
|     1|   2959|   4.0|2015-03-09 22:53:21|
|     1|   4226|   4.0|2015-03-09 23:03:48|
|     1|   4878|   5.0|2015-03-09 22:50:34|
|     1|   5577|   5.0|2015-03-09 22:49:57|
|     1|  33794|   4.0|2015-03-09 23:00:05|
|     1|  54503|   3.5|2015-03-09 22:48:33|
|     1|  58559|   4.0|2015-03-09 23:00:07|
|     1|  59315|   5.0|2015-03-09 22:51:42|
|     1|  68358|   5.0|2015-03-09 22:51:04|
|     1|  69844|   5.0|2015-03-09 23:02:19|
|     1|  73017|   5.0|2015-03-09 23:11:39|
|     1|  81834|   5.0|2015-03-09 23:02:13|
+------+-------+------+-------------------+
only showing top 20 rows

Computing the difference in minutes is more tedious, we'll need to convert the timestamps to unix timestamps (seconds since epoch), compute the difference, and divide by 60.

In [52]:
taxi = taxi.withColumn('trip_duration', (taxi.dropoff_datetime.cast("long") - taxi.pickup_datetime.cast("long"))/60)

In [53]:
taxi.show(10)

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|     trip_duration|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+------------------+
|        2|2018-03-29 13:37:13|2018-03-29 14:17:01|              1|        18.15|        3|                 N|           1|       70.0|  0.0|    0.0|     16.16|        10.5|          0.3|       96.96|               161|                  1|              39.8|
|        2|2018-03-29 13:37:18|2018-03-29 14:15:33|              1|         4.59|        1|                 N|           1|       25.0|  0.0|    0.5|      5.16|         0.0|          0.3|       30.96|                13|                230|             38.25|
|        2|2018-03-29 13:26:57|2018-03-29 13:28:03|              1|          0.3|        1|                 N|           1|        3.0|  0.0|    0.5|      0.76|         0.0|          0.3|        4.56|               231|                231|               1.1|
|        2|2018-03-29 13:07:48|2018-03-29 14:03:05|              2|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138| 55.28333333333333|
|        2|2018-03-29 14:19:11|2018-03-29 15:19:59|              5|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|              60.8|
|        2|2018-03-29 14:52:55|2018-03-29 15:51:55|              1|         11.6|        1|                 N|           1|       42.0|  0.0|    0.5|     14.57|        5.76|          0.3|       63.13|                68|                138|              59.0|
|        1|2018-03-29 14:09:41|2018-03-29 14:36:29|              1|          5.8|        1|                 N|           1|       24.0|  0.0|    0.5|      4.95|         0.0|          0.3|       29.75|               100|                 87|              26.8|
|        2|2018-03-29 15:21:42|2018-03-29 16:04:16|              1|         3.38|        1|                 N|           1|       25.0|  0.0|    0.5|      5.16|         0.0|          0.3|       30.96|               144|                161| 42.56666666666667|
|        2|2018-03-29 15:14:59|2018-03-29 16:42:46|              1|        16.98|        3|                 N|           1|       85.0|  0.0|    0.0|      15.0|        12.5|          0.3|       112.8|                87|                  1| 87.78333333333333|
|        2|2018-03-29 16:27:58|2018-03-29 16:58:08|              1|         4.99|        1|                 N|           1|       22.0|  1.0|    0.5|      4.76|         0.0|          0.3|       28.56|                13|                161|30.166666666666668|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+------------------+
only showing top 10 rows

### User-Defined Functions (UDF)

PySpark User-Defined Functions (UDFs) help you convert your Python code into a scalable version of itself. It is handy, but beware, as the performance is slower compared to PySpark functions.

In [54]:
import pandas as pd
from pyspark.sql.functions import pandas_udf

In [55]:
@pandas_udf('long')
def pandas_plus_one(series: pd.Series) -> pd.Series:
    # Simply plus one by using pandas Series.
    return (series + 1.0).astype(float)

In [56]:
taxi.select(taxi.passenger_count, pandas_plus_one(taxi.passenger_count)).show()

+---------------+--------------------------------+
|passenger_count|pandas_plus_one(passenger_count)|
+---------------+--------------------------------+
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              2|                               3|
|              5|                               6|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              2|                               3|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
|              1|                               2|
+---------------+--------------------------------+
only showing top 20 rows

### DataFrame Operations on Rows

We will show the follwoing in this section:

1.   Filtering Rows
2. 	 Get Distinct Rows
3.   Sorting Rows

In [57]:
movies.filter(movies.status == 'In Production').show()

+-----+---------------------+------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-------+-------+--------------------+-------------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|budget|              genres|            homepage|    id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|revenue|runtime|    spoken_languages|       status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-------+-------+--------------------+-------------+--------------------+--------------------+-----+------------+----------+
|False|                 null|     0|[{'id': 18, 'name...|                null| 25073|tt1242618|               en|            Deadline|A screenwriter wh...|   9.71579|/2QdMDT2UMFOnSwgK...|[{'name': 'Enso E...|[{'iso_3166_1': '...|  2009-01-01|      0|   89.0|[{'iso_639_1': 'e...|In Production|                null|            Deadline|False|         5.2|        31|
|False|                 null|     0|[{'id': 35, 'name...|http://www.moviez...|138122|tt2172071|               en| Student of the Year|Dean Yoginder Vas...|  3.550969|/yAhfRGZx7nOAZkrm...|                  []|[{'iso_3166_1': '...|  2012-10-19|      0|  145.0|[{'iso_639_1': 'h...|In Production|Student Of The Ye...| Student of the Year|False|         6.2|        49|
|False| {'id': 1972, 'nam...|     0|[{'id': 27, 'name...|                null|259233|tt3572132|               ja|呪怨: 終わりの始まり|An elementary sch...|  1.235132|/qZjUysdUJLzcbFzh...|                  []|[{'iso_3166_1': '...|  2014-06-28|      0|   91.0|[{'iso_639_1': 'j...|In Production|                null|Ju-on: The Beginn...|False|         6.0|        20|
|False| {'id': 87096, 'na...|     0|[{'id': 28, 'name...|http://www.avatar...| 76600|tt1630029|               en|            Avatar 2|A sequel to Avata...|  6.020055|/wvpOVl37PR21mENp...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  2020-12-16|      0|    0.0|[{'iso_639_1': 'e...|In Production|                null|            Avatar 2|False|         0.0|        58|
|False|                 null|     0|[{'id': 12, 'name...|http://www.bbc.co...|347035|tt1227183|               en|Swallows and Amazons|Four children dre...|  1.935094|/wwfJoBkHqHb067p3...|[{'name': 'BBC Fi...|[{'iso_3166_1': '...|  2016-08-19|      0|   96.0|[{'iso_639_1': 'e...|In Production|Some summers you ...|Swallows and Amazons|False|         6.9|        24|
|False|                 null|     0|[{'id': 18, 'name...|                null|337730|tt4168502|               fr|         Un Français|Marco Lopez, a fo...|  1.593745|/n2OYPhJtigtGJmH3...|[{'name': 'Fin Ao...|[{'iso_3166_1': '...|  2015-06-10|      0|   98.0|[{'iso_639_1': 'f...|In Production|                null|        French Blood|False|         5.9|        35|
|False|                 null|     0|[{'id': 16, 'name...|http://www.slycoo...|252983|tt3498786|               en|          Sly Cooper|Sly Cooper is a k...|  1.531827|/rw36cctUD5kPCNCx...|[{'name': 'Rainma...|[{'iso_3166_1': '...|  2017-12-31|      0|    0.0|[{'iso_639_1': 'e...|In Production|                null|          Sly Cooper|False|         0.0|         0|
|False| {'id': 306031, 'n...|     0|[{'id': 35, 'name...|                null|353616|tt4765284|               en|     Pitch Perfect 3|Sequel to Pitch P...|  3.782498|/A4bAz2rvc0vjitQ7...|                  []|                  []|  2017-12-21|      0|    0.0|[{'iso_639_1': 'e...|In Production|                null|     Pitch Perfect 3|False|         0.0|         3|
|False|                 null|     0|[{'id': 27, 'name...|                null|156981|tt1600429|               en|              Old 37|Two brothers inte...|  1.023086|/gKO1tulv0zyud9CO...|[{'name': 'Big Pi...|[{'iso_3166_1': '...|  2015-03-21|      0|   84.0|[{'iso_639_1': 'e...|In Production|                null|              Old 37|False|         4.3|        10|
|False|                 null|     0|[{'id': 27, 'name...|                null|257450|tt3400060|               en|      Piranha Sharks|Great white shark...|   1.35227|/iwukU7nUUNfdxIQw...|[{'name': 'The Im...|[{'iso_3166_1': '...|  2015-08-06|      0|   79.0|[{'iso_639_1': 'e...|In Production|                null|      Piranha Sharks|False|         5.0|         4|
|False| {'id': 101646, 'n...|     0|[{'id': 80, 'name...|                null| 61123|tt1836210|               fi|Vares – Huhtikuun...|Tough Finnish det...|  0.676424|/bjl2iLVYZv8MtVQT...|[{'name': 'Solar ...|[{'iso_3166_1': '...|  2011-04-20|      0|   95.0|[{'iso_639_1': 'f...|In Production|                null|Vares - The Girls...|False|         5.3|        11|
|False|                 null|     0|[{'id': 35, 'name...|                null|311215|tt3772576|               es|Papeles en el viento|When El Mono dies...|  0.469509|/cfCB68VQiAp3WBD7...|[{'name': 'Televi...|[{'iso_3166_1': '...|  2015-01-08|      0|    0.0|[{'iso_639_1': 'e...|In Production|                null|   Roles in the Wind|False|         6.1|         8|
|False|                 null|     0|[{'id': 53, 'name...|                null|352917|tt3257610|               hu|              Víkend|                null|  0.115035|/cqoh8GNle7svms4T...|[{'name': 'KMH On...|[{'iso_3166_1': '...|  2015-01-01|      0|   null|[{'iso_639_1': 'h...|In Production|                null|              Víkend|False|         6.0|         2|
|False|                 null|     0|[{'id': 35, 'name...|                null|380124|tt5325452|               en|Boo! A Madea Hall...|Madea winds up in...|  4.610686|/dpSWKKBtXOu8hDNJ...|[{'name': 'Lionsg...|[{'iso_3166_1': '...|  2016-10-21|      0|  103.0|[{'iso_639_1': 'e...|In Production|                null|Boo! A Madea Hall...|False|         5.3|       219|
|False|                 null|     0|[{'id': 27, 'name...|                null|388410|tt3181898|               en|Edgar Allan Poe's...|Marooned on a rem...|   0.79704|/7vqEQeH8PQmFoltc...|[{'name': 'Thunde...|[{'iso_3166_1': '...|  2016-03-16|      0|  128.0|[{'iso_639_1': 'e...|In Production|Always Keep A Lig...|Edgar Allan Poe's...|False|         5.4|         8|
|False|                 null|     0|[{'id': 35, 'name...|                null|419522|tt6197094|               it|     Beata ignoranza|                null|  3.701125|/sWfDI846sIGZCqQk...|[{'name': 'Italia...|[{'iso_3166_1': '...|  2017-02-23|      0|    0.0|[{'iso_639_1': 'i...|In Production|                null|     Beata ignoranza|False|         5.6|        65|
| True|                 null|     0|[{'id': 878, 'nam...|                null|448290|tt2697688|               en|          Half -Life|An American scien...|   0.28268|/3uv9oaqOJkkdZiQp...|[{'name': 'Bad Ro...|[{'iso_3166_1': '...|        null|      0|    0.0|[{'iso_639_1': 'e...|In Production|                null|          Half -Life|False|         3.7|         3|
|False|                 null|     0|[{'id': 35, 'name...|                null|439998|tt6373590|               it|Omicidio all'ital...|                null|  2.962735|/c3Rdwps3XKYoKxHF...|[{'name': 'Leone ...|[{'iso_3166_1': '...|  2017-03-02|      0|   null|[{'iso_639_1': 'i...|In Production|                null|Omicidio all'ital...|False|         6.3|        69|
|False|                 null|     0|[{'id': 37, 'name...|                null|455675|tt6334884|               en|              Hickok|Legendary Lawman ...|  2.747249|/nZdifMku2bcZKZCu...|                  []|                  []|  2017-07-07|      0|   88.0|[{'iso_639_1': 'e...|In Production|                null|              Hickok|False|         5.0|         9|
|False|                 null|     0|[{'id': 35, 'name...|http://chaosafilm...|394185|tt2076826|               en|           Chokeslam|A mild-mannered d...|  0.743825|/walR4ri5Fj4oyVoj...|[{'name': 'Chaos,...|[{'iso_3166_1': '...|  2016-10-10|      0|    0.0|[{'iso_639_1': 'e...|In Production|                null|           Chokeslam|False|         5.3|         3|
+-----+---------------------+------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-------+-------+--------------------+-------------+--------------------+--------------------+-----+------------+----------+

In [58]:
ratings.filter(ratings.rating > 4.5).show()

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|    858|   5.0|2015-03-09 22:52:03|
|     1|   1221|   5.0|2015-03-09 22:52:26|
|     1|   1246|   5.0|2015-03-09 22:52:36|
|     1|   2918|   5.0|2015-03-09 22:53:13|
|     1|   4878|   5.0|2015-03-09 22:50:34|
|     1|   5577|   5.0|2015-03-09 22:49:57|
|     1|  59315|   5.0|2015-03-09 22:51:42|
|     1|  68358|   5.0|2015-03-09 22:51:04|
|     1|  69844|   5.0|2015-03-09 23:02:19|
|     1|  73017|   5.0|2015-03-09 23:11:39|
|     1|  81834|   5.0|2015-03-09 23:02:13|
|     1|  91542|   5.0|2015-03-09 23:10:18|
|     1|  92439|   5.0|2015-03-09 22:50:24|
|     1|  96821|   5.0|2015-03-09 22:49:42|
|     1| 112552|   5.0|2015-03-09 22:48:56|
|     2|    339|   5.0|1997-06-23 04:48:16|
|     2|   1356|   5.0|1997-06-23 04:14:48|
|     4|   1097|   5.0|2003-01-15 21:58:45|
|     4|   1221|   5.0|2003-01-15 21:58:23|
|     4|   2023|   5.0|2003-01-15 21:59:05|
+------+-------+------+-------------------+
only showing top 20 rows

Use `&` and `|` for combining conditions as `and` and `or`:

In [59]:
ratings.filter((ratings.rating < 1.5) | (ratings.rating > 4.5)).show()

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|    110|   1.0|2015-03-09 22:52:09|
|     1|    858|   5.0|2015-03-09 22:52:03|
|     1|   1221|   5.0|2015-03-09 22:52:26|
|     1|   1246|   5.0|2015-03-09 22:52:36|
|     1|   2918|   5.0|2015-03-09 22:53:13|
|     1|   4878|   5.0|2015-03-09 22:50:34|
|     1|   5577|   5.0|2015-03-09 22:49:57|
|     1|  59315|   5.0|2015-03-09 22:51:42|
|     1|  68358|   5.0|2015-03-09 22:51:04|
|     1|  69844|   5.0|2015-03-09 23:02:19|
|     1|  73017|   5.0|2015-03-09 23:11:39|
|     1|  81834|   5.0|2015-03-09 23:02:13|
|     1|  91542|   5.0|2015-03-09 23:10:18|
|     1|  92439|   5.0|2015-03-09 22:50:24|
|     1|  96821|   5.0|2015-03-09 22:49:42|
|     1|  98809|   0.5|2015-03-09 23:10:40|
|     1| 112552|   5.0|2015-03-09 22:48:56|
|     2|    339|   5.0|1997-06-23 04:48:16|
|     2|    786|   1.0|1997-06-23 04:14:09|
|     2|    788|   1.0|1997-06-23 04:14:48|
+------+-------+------+-------------------+
only showing top 20 rows

> 1. Filter `movies` for `status` to be `In Production` and `vote_average` greater than 6.
> 2. Filter `taxi` for `trip_duration` greater than 1 hour, `trip_distance` greater than 10 miles and `passenger_count` equal to and less than 2.

In [60]:
# 1. Filter movies for status 'In Production' and vote_average > 6
# This will show movies that are still in production and have a vote_average greater than 6.
# If this returns no records, it means there are no such movies in your dataset.
movies.filter(
    (movies.status == 'In Production') & (movies.vote_average > 6)
).show()

+-----+---------------------+------+------+--------+---+-------+-----------------+--------------+--------+----------+-----------+--------------------+--------------------+------------+-------+-------+----------------+------+-------+-----+-----+------------+----------+
|adult|belongs_to_collection|budget|genres|homepage| id|imdb_id|original_language|original_title|overview|popularity|poster_path|production_companies|production_countries|release_date|revenue|runtime|spoken_languages|status|tagline|title|video|vote_average|vote_count|
+-----+---------------------+------+------+--------+---+-------+-----------------+--------------+--------+----------+-----------+--------------------+--------------------+------------+-------+-------+----------------+------+-------+-----+-----+------------+----------+
+-----+---------------------+------+------+--------+---+-------+-----------------+--------------+--------+----------+-----------+--------------------+--------------------+------------+-------+-------+----------------+------+-------+-----+-----+------------+----------+

In [61]:
# 2. Filter taxi for trip_duration > 1 hour, trip_distance > 10 miles, and passenger_count <= 2
# First, create the trip_duration column (in minutes) using pickup and dropoff timestamps.
from pyspark.sql.functions import col

taxi = taxi.withColumn(
    'trip_duration',
    (col('dropoff_datetime').cast('long') - col('pickup_datetime').cast('long')) / 60
)

# Now filter for trips longer than 1 hour, distance > 10 miles, and 2 or fewer passengers.
taxi.filter(
    (col('trip_duration') > 60) &
    (col('trip_distance') > 10) &
    (col('passenger_count') <= 2)
).show()

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|     trip_duration|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+------------------+
|        2|2018-03-29 15:14:59|2018-03-29 16:42:46|              1|        16.98|        3|                 N|           1|       85.0|  0.0|    0.0|      15.0|        12.5|          0.3|       112.8|                87|                  1| 87.78333333333333|
|        2|2018-03-29 16:41:14|2018-03-29 17:56:35|              1|        11.11|        1|                 N|           1|       45.5|  1.0|    0.5|     10.61|        5.76|          0.3|       63.67|               163|                138|             75.35|
|        1|2018-03-29 17:07:32|2018-03-29 18:13:31|              2|         14.1|        1|                 N|           1|       48.5|  1.0|    0.5|       7.0|        5.76|          0.3|       63.06|               264|                264| 65.98333333333333|
|        1|2018-03-21 00:57:05|2018-03-21 02:45:48|              1|         65.1|        5|                 N|           1|      390.0|  0.0|    0.0|      60.0|         0.0|          0.3|       450.3|               197|                265|108.71666666666667|
|        1|2018-08-03 15:29:29|2018-08-03 16:49:23|              1|         18.3|        1|                 N|           1|       62.0|  0.0|    0.5|      15.7|         0.0|          0.3|        78.5|                97|                132|              79.9|
|        1|2018-01-12 14:12:37|2018-01-12 15:16:00|              1|         16.5|        3|                 N|           1|       73.5|  0.0|    0.0|     17.25|        12.5|          0.3|      103.55|               234|                  1| 63.38333333333333|
|        1|2018-11-01 07:46:05|2018-11-01 08:53:23|              1|         10.7|        1|                 N|           1|       47.0|  0.0|    0.5|       3.5|         0.0|          0.3|        51.3|               234|                 76|              67.3|
|        2|2018-03-22 16:47:19|2018-03-22 17:49:55|              1|         19.7|        1|                 N|           1|       59.0|  1.0|    0.5|      9.12|         0.0|          0.3|       69.92|               132|                181|              62.6|
|        2|2018-11-12 16:24:24|2018-11-12 17:27:08|              2|        11.38|        1|                 N|           1|       48.5|  0.0|    0.5|     11.01|        5.76|          0.3|       66.07|               230|                138|62.733333333333334|
|        1|2018-09-08 09:42:42|2018-09-08 10:51:22|              1|         21.8|        1|                 N|           1|       68.0|  0.0|    0.5|     10.32|         0.0|          0.3|       79.12|                39|                 42| 68.66666666666667|
|        1|2018-09-17 06:38:08|2018-09-17 07:57:08|              1|         12.2|        1|                 N|           1|       53.5|  0.0|    0.5|     10.85|         0.0|          0.3|       65.15|               132|                256|              79.0|
|        2|2018-05-09 12:29:49|2018-05-10 00:00:00|              1|        23.77|        1|                 N|           1|       65.5|  0.0|    0.5|      9.94|         0.0|          0.3|       76.24|               132|                228| 690.1833333333333|
|        2|2018-05-09 15:59:19|2018-05-09 17:24:02|              1|        17.68|        3|                 N|           1|       85.5|  1.0|    0.0|     31.29|        17.5|          0.3|      135.59|               170|                  1| 84.71666666666667|
|        2|2018-09-17 09:10:46|2018-09-17 10:11:36|              2|        12.81|        1|                 N|           1|       47.0|  0.0|    0.5|     10.71|        5.76|          0.3|       64.27|               138|                230|60.833333333333336|
|        1|2018-03-29 17:43:09|2018-03-29 19:01:43|              1|         10.7|        1|                 N|           1|       47.0|  1.0|    0.5|      10.9|        5.76|          0.3|       65.46|               107|                138| 78.56666666666666|
|        2|2018-05-30 15:15:33|2018-05-31 00:00:00|              2|        15.66|        1|                 N|           1|       49.5|  0.0|    0.5|     11.21|        5.76|          0.3|       67.27|               231|                138|            524.45|
|        2|2018-05-30 18:07:17|2018-05-30 19:49:40|              1|        41.34|        3|                 N|           1|      136.5|  1.0|    0.0|     31.21|       18.26|          0.3|      187.27|               132|                  1|102.38333333333334|
|        1|2018-01-12 14:58:56|2018-01-12 16:15:45|              1|         25.2|        4|                 N|           1|       92.0|  0.0|    0.5|      20.5|        9.76|          0.3|      123.06|               132|                265| 76.81666666666666|
|        1|2018-07-12 08:30:46|2018-07-12 09:33:09|              1|         12.1|        1|                 N|           1|       47.0|  0.0|    0.5|      10.7|        5.76|          0.3|       64.26|               138|                100| 62.38333333333333|
|        1|2018-07-12 17:21:00|2018-07-12 18:57:21|              1|         10.9|        1|                 N|           1|       59.0|  1.0|    0.5|      9.98|        5.76|          0.3|       76.54|                48|                213|             96.35|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+------------------+
only showing top 20 rows

In [62]:
movies.select('status').distinct().show()

+---------------+
|         status|
+---------------+
|              7|
|        Rumored|
|       Released|
|          False|
|           null|
|  In Production|
|            5.0|
|       Canceled|
|        Planned|
|Post Production|
|              0|
|          102.0|
|           80.0|
|              2|
|            5.3|
|              1|
|            5.5|
+---------------+

In [63]:
taxi.orderBy('trip_duration').show()

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|      trip_duration|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-------------------+
|        1|2018-02-11 15:15:01|2017-12-24 17:09:53|              2|          4.7|        1|                 N|           1|       25.0|  0.0|    0.5|      5.16|         0.0|          0.3|       30.96|               246|                 66| -70445.13333333333|
|        1|2018-05-10 15:15:38|2018-04-27 16:14:42|              1|         10.8|        1|                 N|           1|       35.0|  1.0|    0.5|       8.5|        5.76|          0.3|       51.06|               138|                141|-18660.933333333334|
|        1|2018-09-14 15:15:25|2018-09-07 18:06:36|              2|         17.7|        2|                 N|           2|       52.0|  0.0|    0.5|       0.0|        5.76|          0.3|       58.56|               132|                164| -9908.816666666668|
|        1|2018-04-12 15:15:06|2018-04-06 16:14:50|              3|         11.0|        1|                 N|           1|       38.0|  1.0|    0.5|       9.1|        5.76|          0.3|       54.66|               138|                239| -8580.266666666666|
|        1|2018-05-28 15:15:42|2018-05-23 04:03:38|              1|          7.0|        1|                 N|           2|       21.5|  0.0|    0.5|       0.0|         0.0|          0.3|        22.3|               163|                 13| -7872.066666666667|
|        1|2018-08-04 15:15:29|2018-08-01 16:28:49|              2|         10.7|        1|                 N|           1|       42.5|  0.0|    0.5|       9.8|        5.76|          0.3|       58.86|               138|                113| -4246.666666666667|
|        1|2018-03-06 15:15:05|2018-03-05 16:05:01|              2|          9.9|        1|                 N|           1|       40.5|  0.0|    0.5|       9.4|        5.76|          0.3|       56.46|                70|                 48|-1390.0666666666666|
|        1|2018-03-06 15:15:05|2018-03-05 16:05:01|              2|          9.9|        1|                 N|           1|       40.5|  0.0|    0.5|       9.4|        5.76|          0.3|       56.46|                70|                 48|-1390.0666666666666|
|        1|2018-02-04 15:15:17|2018-02-03 16:06:36|              2|         20.2|        2|                 N|           1|       52.0|  0.0|    0.5|      11.7|        5.76|          0.3|       70.26|               132|                151|-1388.6833333333334|
|        1|2018-12-06 15:15:17|2018-12-06 04:48:06|              1|          5.1|        1|                 N|           1|       24.5|  0.0|    0.5|      5.05|         0.0|          0.3|       30.35|                65|                 68| -627.1833333333333|
|        1|2018-11-12 17:03:41|2018-11-12 14:32:29|              1|          4.3|        1|                 N|           2|       22.5|  0.0|    0.5|       0.0|         0.0|          0.3|        23.3|               262|                100|             -151.2|
|        1|2018-11-04 01:48:31|2018-11-04 01:01:56|              2|          2.7|        1|                 N|           1|       11.5|  0.5|    0.5|       1.0|         0.0|          0.3|        13.8|               114|                170|-46.583333333333336|
|        1|2018-11-04 01:54:02|2018-11-04 01:09:06|              2|          4.7|        1|                 N|           1|       16.5|  0.5|    0.5|       2.0|        5.76|          0.3|       25.56|               261|                106| -44.93333333333333|
|        1|2018-11-04 01:56:47|2018-11-04 01:12:05|              1|          7.0|        1|                 N|           1|       22.0|  0.5|    0.5|      4.65|         0.0|          0.3|       27.95|               230|                116|              -44.7|
|        1|2018-11-04 01:44:47|2018-11-04 01:00:28|              2|          4.1|        5|                 N|           1|       0.01|  0.0|    0.0|      30.0|        10.5|          0.3|       40.81|               211|                265| -44.31666666666667|
|        1|2018-11-04 01:50:41|2018-11-04 01:07:18|              1|          7.7|        1|                 N|           2|       23.5|  0.5|    0.5|       0.0|         0.0|          0.3|        24.8|               141|                136| -43.38333333333333|
|        1|2018-11-04 01:56:23|2018-11-04 01:13:03|              1|          9.4|        1|                 N|           1|       27.5|  0.5|    0.5|       4.0|         0.0|          0.3|        32.8|               161|                127|-43.333333333333336|
|        2|2018-11-04 01:55:44|2018-11-04 01:12:54|              1|         8.45|        1|                 N|           2|       24.5|  0.5|    0.5|       0.0|         0.0|          0.3|        25.8|               158|                244|-42.833333333333336|
|        1|2018-11-04 01:49:13|2018-11-04 01:07:09|              1|          6.7|        1|                 N|           1|       22.0|  0.5|    0.5|      4.65|         0.0|          0.3|       27.95|               114|                263| -42.06666666666667|
|        1|2018-11-04 01:44:19|2018-11-04 01:02:32|              1|          6.9|        1|                 N|           2|       22.5|  0.5|    0.5|       0.0|         0.0|          0.3|        23.8|               239|                232| -41.78333333333333|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-------------------+
only showing top 20 rows

In [64]:
taxi.orderBy('trip_distance', ascending=False).show()

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|      trip_duration|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-------------------+
|        2|2018-07-19 18:00:25|2018-07-23 10:54:16|              1|      7655.76|        1|                 N|           2|     9999.5|  1.0|    0.5|       0.0|         0.0|          0.3|     10001.3|               264|                264|            5333.85|
|        2|2018-08-02 12:37:40|2018-08-03 16:35:56|              1|      2408.25|        1|                 N|           2|     6023.0|  0.0|    0.5|       0.0|         0.0|          0.3|      6023.8|               264|                264| 1678.2666666666667|
|        2|2018-07-12 16:30:53|2018-07-13 08:06:46|              1|      1818.91|        1|                 N|           2|     4549.5|  1.0|    0.5|       0.0|         0.0|          0.3|      4551.3|               264|                264|  935.8833333333333|
|        2|2018-07-24 13:15:40|2018-07-25 09:45:22|              1|      1764.77|        1|                 N|           2|     4414.0|  0.0|    0.5|       0.0|         0.0|          0.3|      4414.8|               264|                264|             1229.7|
|        2|2018-08-01 14:37:29|2018-08-02 10:38:30|              1|      1723.45|        1|                 N|           2|     4311.0|  0.0|    0.5|       0.0|         0.0|          0.3|      4311.8|               264|                264| 1201.0166666666667|
|        1|2018-05-28 20:28:32|2018-05-28 20:29:00|              2|        910.8|        5|                 N|           2|      300.0|  0.0|    0.0|       0.0|         0.0|          0.3|       300.3|               226|                226| 0.4666666666666667|
|        2|2018-07-11 12:36:36|2018-07-11 14:03:51|              1|       753.66|        1|                 N|           2|     1886.5|  0.0|    0.5|       0.0|         0.0|          0.3|      1887.3|               264|                264|              87.25|
|        1|2018-06-01 13:43:43|2018-06-01 14:15:37|              1|        606.0|        1|                 N|           1|       25.5|  0.0|    0.5|      5.25|         0.0|          0.3|       31.55|                68|                236|               31.9|
|        1|2018-11-20 10:27:33|2018-11-20 11:01:52|              3|        603.6|        1|                 N|           1|       21.5|  0.0|    0.5|      4.45|         0.0|          0.3|       26.75|               237|                114|  34.31666666666667|
|        2|2018-07-19 11:03:40|2018-07-19 17:11:31|              1|       528.88|        1|                 N|           2|     1324.5|  0.0|    0.5|       0.0|         0.0|          0.3|      1325.3|               264|                264|             367.85|
|        2|2018-08-12 06:48:02|2018-08-12 18:51:02|              1|       380.83|        5|                 N|           2|       0.01|  0.0|    0.0|       0.0|         0.0|          0.3|        0.31|                68|                244|              723.0|
|        2|2018-04-09 01:03:22|2018-04-09 01:03:22|              1|       325.28|        5|                 N|           1|       50.0|  0.0|    0.5|       0.0|         0.0|          0.3|        50.8|               265|                168|                0.0|
|        1|2018-03-10 03:38:36|2018-03-10 09:13:25|              3|        302.8|        5|                 N|           2|      200.0|  0.0|    0.0|       0.0|       17.26|          0.3|      217.56|               265|                265| 334.81666666666666|
|        1|2018-03-10 03:38:36|2018-03-10 09:13:25|              3|        302.8|        5|                 N|           2|      200.0|  0.0|    0.0|       0.0|       17.26|          0.3|      217.56|               265|                265| 334.81666666666666|
|        1|2018-03-10 15:10:29|2018-03-10 21:28:55|              3|        301.9|        5|                 N|           2|       0.01|  0.0|    0.0|       0.0|       18.26|          0.3|       18.57|               265|                265| 378.43333333333334|
|        1|2018-03-10 15:10:29|2018-03-10 21:28:55|              3|        301.9|        5|                 N|           2|       0.01|  0.0|    0.0|       0.0|       18.26|          0.3|       18.57|               265|                265| 378.43333333333334|
|        1|2018-10-18 14:16:24|2018-10-18 14:16:26|              1|        258.0|        3|                 N|           2|    9984.22|  0.0|   21.5|       0.0|         0.0|          0.0|    10005.72|                41|                 41|0.03333333333333333|
|        1|2018-04-29 11:40:49|2018-04-29 15:56:56|              1|        248.6|        5|                 N|           2|      400.0|  0.0|    0.0|       0.0|        12.5|          0.3|       412.8|               246|                265|  256.1166666666667|
|        1|2018-10-30 09:22:31|2018-10-30 14:32:00|              1|        246.8|        5|                 N|           2|       0.01|  0.0|    0.0|       0.0|       22.02|          0.3|       22.33|               216|                265| 309.48333333333335|
|        2|2018-08-11 17:14:29|2018-08-11 21:37:54|              1|       245.06|        5|                 N|           1|      450.0|  0.0|    0.5|       0.0|       15.76|          0.3|      466.56|                93|                265|  263.4166666666667|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-------------------+
only showing top 20 rows

### Grouping Data

In [65]:
movies.groupBy('status').count().show()

+---------------+-----+
|         status|count|
+---------------+-----+
|        Rumored|  230|
|       Released|44941|
|              0|    2|
|           null|  254|
|  In Production|   20|
|Post Production|   98|
|          102.0|    1|
|        Planned|   15|
|            5.5|    1|
|           80.0|    1|
|              2|    1|
|              7|    1|
|          False|    1|
|       Canceled|    2|
|            5.3|    1|
|            5.0|    1|
|              1|    2|
+---------------+-----+

In [66]:
ratings.groupBy('movieId').avg('rating').show()

+-------+------------------+
|movieId|       avg(rating)|
+-------+------------------+
|   1580|3.5733178489322874|
|   2366|3.4740872335211956|
|   1591|2.6416020262782967|
|   3175| 3.586550320670942|
|   8638|3.9675026123301986|
|  44022| 3.294874689546173|
|   1645| 3.516589990241182|
|   1959|3.6369782971619364|
|   2122| 2.634513274336283|
|    463|2.8119158878504673|
|    471| 3.654817548175482|
|   1088| 3.239810636881426|
|   6658|  2.88480697384807|
|   7982| 3.607471264367816|
|  32460| 4.014592933947773|
|  36525|3.4823726916620035|
|  54190| 3.613386824324324|
|  68135| 3.097457627118644|
|  96488| 3.970890410958904|
| 135867|3.8857142857142857|
+-------+------------------+
only showing top 20 rows

### Joining DataFrames

In [67]:
ratings_avg_by_movie = ratings.groupBy('movieId').avg('rating')

In [68]:
ratings_avg_by_movie.columns

['movieId', 'avg(rating)']

In [ ]:
movies.join(ratings_avg_by_movie, movies.id == ratings.movieId, 'inner').select('title', 'vote_average', 'avg(rating)').show()

### Spark SQL

DataFrame and Spark SQL share the same execution engine so they can be interchangeably used seamlessly. For example, you can register the DataFrame as a table and run a SQL easily:

In [ ]:
taxi.createOrReplaceTempView("taxi")
spark.sql("SELECT count(*) from taxi").show()

In addition, UDFs can be registered and invoked in SQL out of the box:

In [ ]:
@pandas_udf("double")
def div(s1: pd.Series, s2: pd.Series) -> pd.Series:
    return s1 / s2

In [ ]:
spark.udf.register("div", div)
spark.sql("SELECT trip_distance, trip_duration, div(trip_distance, trip_duration) AS speed FROM taxi").show()

In [ ]:
taxi.selectExpr("div(trip_distance, trip_duration)").show()